<div class='position-fixed bottom-0 end-0 p-3' style='z-index: 11'>
	<div
		id='liveToast'
		class='toast hide z-3'
		role='alert'
		aria-live='assertive'
		aria-atomic='true'
	>
		<div class='toast-header bg-background-white'>
			<strong class='me-auto text-danger error-msg'>Error!</strong>
		</div>
		<div class='toast-body bg-background-white'>
			<div class='login-msg'>Please log in to your account first!</div>
			<div class='mt-2 pt-2'>
				<button
					type='button'
					class='btn btn-primary btn-sm login-btn'
				>Login</button>
				<button
					type='button'
					class='btn btn-secondary btn-sm'
					data-bs-dismiss='toast'
				>Close</button>
			</div>
		</div>
	</div>
</div>
<div class='container justify-content-center'>
	<div class='jokeOTD-card d-flex justify-content-center'>
		<div class='container-jokeOTD'>
			<div id='jokeOTD-header'>
				<div class='col-12 d-flex justify-content-center'>
					<div class='jokeOTD-title text-center'>Joke of the Day!</div>
				</div>
			</div>
			<div>
				<div class='col-12'>{{jotd.joke}}</div>
			</div>
		</div>
	</div>

	{{#each dadjokes as |dadjoke|}}
		<div class='container'>
			<div class='container-joke-card'>
				<div id='joke-card-header'>
					<div class='col-12 d-flex justify-content-between'>
						<div id='authorname'><a
								href='/profile/{{dadjoke.user.id}}'
								data-joke-creator
							>@{{dadjoke.user.username}}</a></div>
						<div id='postdate'>{{createdAt}}</div>
					</div>
				</div>
				<div>
					<div class='col-12' data-joke-content>{{content}}</div>
				</div>
				<div class='row'>
					<div
						class='col-9'
						id='hidePunch'
						style='visibility: hidden'
						data-joke-punchline
					>{{punchline}}</div>
					<div class='col-3'><button class='show-punchline'>Show Punchline</button>
					</div>
				</div>
				<div id='joke-card-footer'>
					<div>
						<div class='row' id='joke-card-footer2'>
							<div class='col-1'>
								<button class='post-btns'>
									{{#if userLikeStatus}}
										<i
											class='fa-solid fa-heart'
											id='like-button'
											post-id='{{id}}'
											isLiked='{{userLikeStatus}}'
										></i>

									{{else}}
										<i
											class='fa-regular fa-heart'
											id='like-button'
											post-id='{{id}}'
										></i>
									{{/if}}
								</button>
							</div>
							<div class='col-1'>
								<button class='comment-bubble'>
									<i
										class='fa-regular fa-comment'
										id='comment-button'
										post-id='{{id}}'
									></i>
								</button>
							</div>
							<div class='col-10 text-end'>
								<button class='bookmark-btn'>
									{{#if userBookmarkStatus}}
										<i
											class='fa-solid fa-bookmark text-warning'
											id='bookmark-btn'
											post-id='{{id}}'
											isBookmarked='{{userBookmarkStatus}}'
										></i>
									{{else}}
										<i
											class='fa-regular fa-bookmark'
											id='bookmark-btn'
											post-id='{{id}}'
											isBookmarked='{{userBookmarkStatus}}'
										></i>
									{{/if}}
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class='row' id='row-count-likes'>
					<div>
						{{likecounter}}
						likes
					</div>
				</div>
			</div>
		</div>

		{{! comment section }}
		<div class='comments-container' style='display: none !important'>
			{{#each dadjoke.comments as |comments|}}
				<div
					class='container d-flex justify-content-end'
					post-id='{{id}}'
					id='comments'
				>
					<div class='container-comment-card'>
						<div class='row'>
							<div class='col-8 d-flex'>
								{{comments.content}}</div>
							<div class='col-4 text-end'>
								@{{comments.user.username}}
								on
								{{comments.createdAt}}
							</div>
						</div>
					</div>
				</div>
			{{/each}}
			<div
				class='container d-flex justify-content-end'
				post-id='{{id}}'
				id='comment-form'
			>
				<div class='col-12 comment-group'>
					<form
						class='col-10 comment-form form-group'
						id='newJokeCard'
						post-id='{{id}}'
					>
						<textarea
							id='jokecontent'
							class='punchlineinput'
							placeholder='Add Comment'
						>
						</textarea>
						<div class='col-2 text-center'>
							<button class='comment-btn text-center' id='btn-comment'><i
									class='fa-regular fa-paper-plane'
								></i></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	{{/each}}
</div>
<i class='bi bi-box-arrow-up'></i>
<div class='container-movetop-btn'>
	<button type='button' class='btn' id='back-to-top'>
		<a href='#homepage'>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				width='16'
				height='16'
				fill='currentColor'
				class='bi bi-box-arrow-up'
				viewBox='0 0 16 16'
			>
				<path
					fill-rule='evenodd'
					d='M3.5 6a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-8a.5.5 0 0 0-.5-.5h-2a.5.5 0 0 1 0-1h2A1.5 1.5 0 0 1 14 6.5v8a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-8A1.5 1.5 0 0 1 3.5 5h2a.5.5 0 0 1 0 1z'
				/>
				<path
					fill-rule='evenodd'
					d='M7.646.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 1.707V10.5a.5.5 0 0 1-1 0V1.707L5.354 3.854a.5.5 0 1 1-.708-.708z'
				/>
			</svg>
		</a>
	</button>
</div>

<script src='/js/likeunlike.js'></script>
<script src='/js/bookmarks.js'></script>
<script src='/js/punchlineButton.js'></script>
<script src='/js/rendercomments.js'></script>
<script src='js/addcomment.js'></script>

{{!-- {{#if loggedIn}}
<script src='/js/likeunlike.js'></script>
{{/if}} --}}

<script>
	document.querySelector('.login-btn').onclick = function(){ location.href =
	'/profile' }
</script>

{{! <i class="fa-brands fa-github" style="font-size: 3rem; color: white"></i> }}