{{#each dadjokes as |dadjoke|}}
<div class="container">
    <div class="container-joke-card">
        <div id="joke-card-header">
            <div class="col-12 d-flex justify-content-between">
                <div id="authorname">@{{dadjoke.user.username}}</div>
                <div id="postdate">{{createdAt}}</div>
            </div>
        </div>
        <div>
            <div class="col-12">{{content}}</div>
        </div>
        <div class="row">
            <div class="col-9">{{punchline}}</div>
            <div class="col-3"><button id="show-punchline">Show Punchline</button> </div>
        </div>
        <div id="joke-card-footer">
            <div>
                <div class="row" id="joke-card-footer2">
                    <div class="col-1" id="like-button">
                        {{#if userLikeStatus}}
                        <i class="fa-solid fa-heart"></i>
                        {{else}}
                        <i class="fa-regular fa-heart"></i>
                        {{/if}}
                    </div>
                    <div class="col-1" id="comment-button">
                        <i class="fa-regular fa-comment"></i>
                    </div>
                    <div class="col-10" id="bookmark-btn">
                        <i class="fa-regular fa-bookmark"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="row-count-likes">
            <div>
                {{likecounter}} likes
            </div>
        </div>
    </div>
</div>
{{/each}}



{{!-- <i class="fa-brands fa-github" style="font-size: 3rem; color: white"></i> --}}