{{!-- {{#each userJokes as |userjoke|}} --}}
<div class="yoursaves" style="width: 90%; margin: auto">

        <div class="left-side-profile">
            <div class="names text-white">
                <h1>Your Jokes</h1>
            </div>
            <div class="container-profile">
                {{#each userJokes as |userjoke|}}
                <div class="container-profile-card">
                    <div class="row">
                        <div class="col-12">{{content}} {{punchline}}</div>
                    </div>
                    <div class="row" id="row-count-likes">
                        <div class="col-3">
                            {{likecounter}} likes
                        </div>
                    
                        <div class="col-9" id ="delete-btn"><i class="fa-solid fa-trash-can"></i></div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

        <div class="right-side-profile">
            <div class="names text-white">
                <h1>Saved</h1>
            </div>
            <div class="container-profile">
                {{#each userSavedJokes as |usersavedjoke|}}
                {{#if usersavedjoke.userSavedPost}}
                <div class="container-profile-card">
                    <div class="row">
                        <div class="col-12">{{content}} {{punchline}}</div>
                    </div>
                    <div class="row" id="row-count-likes">
                        <div class="col-3">
                            {{likecounter}} likes
                        </div>
                        <div class="col-9" id ="delete-btn"><i class="fa-solid fa-trash-can"></i></div>
                    </div>
                </div>
                {{/if}}
                {{/each}}
            </div>
        </div>
</div>    