{{!-- {{#each userJokes as |userjoke|}} --}}
<div class="yoursaves" style="width: 90%; margin: auto">
    
        <div class="left-side-profile">
            <div class="names">
                <h1>Your Jokes</h1>
            </div>
            <div class="container-profile">
                <div class="container-profile-card">
                    <div class="row">
                        <div class="col-12">{{content}} {{punchline}}</div>
                    </div>
                    <div class="row" id="row-count-likes">
                        <div class="col-3">
                            {{likecounter}} likes
                        </div>
                    
                        <div class="col-9" id ="delete-btn"><i class="fa-solid fa-trash-can"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-side-profile">
            <div class="names">
                <h1>Saved</h1>
            </div>
            <div class="container-profile">
                
            {{#if userjoke.userSavedPost}}
                <div class="container-profile-card">
                    {{!-- <div>
                        <div class="col-12">{{content}} {{punchline}}</div>
                    </div> --}}
                    <div class="row">
                        <div class="col-12">{{content}} {{punchline}}</div>
                        {{!-- <div class="col-3"><button id="show-punchline">Show Punchline</button> </div> --}}
                    </div>
                    {{!-- <div id="joke-card-footer">
                        <div id="profile like-comment- ">
                            <div class="row" id="joke-card-footer2">
                                <div class="col-1" id="like-button">
                                    <i class="fa-regular fa-heart"></i>
                                </div>
                                <div class="col-1" id="comment-button">
                                    <i class="fa-regular fa-comment"></i>
                                </div>
                                <div class="col-10" id="bookmark-btn">
                                    <i class="fa-regular fa-bookmark"></i>
                                </div>
                            </div>
                        </div>
                    </div> --}}
                    <div class="row" id="row-count-likes">
                        <div class="col-3">
                            {{likecounter}} likes
                        </div>
                        <div class="col-9" id ="delete-btn"><i class="fa-solid fa-trash-can"></i></div>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
    {{/each}}
</div>    